.body {
    margin: 0;
    padding: 0;
    background-color: #c3e2c2;
    font-family: "Arial";
    padding-bottom: 54px;
    border-radius: 1rem;
}

.register {
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 92px;
    background: #eaeccc;
    border-radius: 15px;
}

h2 {
    text-align: center;
    color: #277582;
    padding: 10px;
    margin-top: 15px;
}

label {
    color: #cd8d7a;
    font-size: 17px;
}

#username {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#password {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#email {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

.submit-btn {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: black;
}

button:hover {
    background-color: #3559e0;
    color: white;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}