.container {
  margin: 20px;
}

.card-table {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.cart-product {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center {
  text-align: center;
  margin-top: 50px;
}

.center img {
  width: 200px;
  margin-bottom: 20px;
}

.btn {
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: none;
}

strong {
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
}

.trashbin {
  width: 20px;
  height: 20px;
}

.address {
  width: 80%;
  height: 50px;
}

form {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input.address {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input.address:focus {
  outline: none;
  border-color: dodgerblue;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}


.order-details {
  display: none; 
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.order-details.visible {
  display: block; 
}
